<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="/">Home</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/page1">Page 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/page2">Page 2</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
	{% if logged_in %}
        <li><p class="navbar-text">Github userid: {{ session['user_data']['login']}}</li>
	{% endif %}
        <li>
	  {% if logged_in %}
	  <a href="/logout">Logout</a>
	  {% else %}
	  <a href="/login">Login</a>
	  {% endif %}
	</li>
      </ul>
  </div>
</nav>
